<% if notice %>
  <div class="alert alert-info">
    <p> 
      <%= notice %>
    </p>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning">
    <p> 
      <%= alert %>
    </p>
  </div>
<% end %>